/* CadastroPacientes.css */
:root {
    --main-bg-color: #f9f9f9;
    --btn-bg-color: #16a086;
    --btn-hover-bg-color: #147a66;
    --error-color: #721c24;
    --error-bg-color: #f8d7da;
    --error-border-color: #f5c6cb;
    --success-color: #155724;
    --success-bg-color: #d4edda;
    --success-border-color: #c3e6cb;
    --border-color: #ddd;
    --input-padding: 10px;
    --border-radius: 5px;
}

.cadPaciente-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: var(--main-bg-color);
    font-family: serif;
    font-size: 14px;
}

.cadPaciente-form-header,
.cadPaciente-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.cadPaciente-profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    text-align: center;
    position: relative;
}

.cadPaciente-profile-pic,
.cadPaciente-profile-placeholder {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.cadPaciente-profile-placeholder {
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cadPaciente-profile-placeholder span {
    position: absolute;
    font-size: 12px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.cadPaciente-profile-pic-input,
.cadPaciente-include-photo-btn input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    top: 0;
    left: 0;
}

.cadPaciente-btn,
.cadPaciente-include-photo-btn {
    background: var(--btn-bg-color);
    color: #fff;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    text-align: center;
    width: 100%;
    height: 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cadPaciente-btn:hover,
.cadPaciente-include-photo-btn:hover {
    background: var(--btn-hover-bg-color);
}

.cadPaciente-save-btn {
    height: 35px;
    font-size: 14px;
}

.cadPaciente-btn-container {
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.cadPaciente-form-body {
    display: grid;
    margin-top: 10px;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.cadPaciente-form-body-container {
    border: 1.5px dashed #aaa;
    background: #FFFFFF;
    padding: 20px;
    border-radius: var(--border-radius);
    margin-bottom: 20px;
    position: relative;
}

.cadPaciente-form-group {
    display: flex;
    flex-direction: column;
}

.cadPaciente-form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.cadPaciente-form-group input,
.cadPaciente-form-group select {
    padding: var(--input-padding);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}

.cadPaciente-form-group input:disabled {
    background: #e9e9e9;
}

.cadPaciente-form-section-title {
    color: #777;
    margin-top: 0;
    position: absolute;
    top: -15px;
    left: 20px;
    background: var(--main-bg-color);
    padding: 0 10px;
}

.cadPaciente-feedback-message {
    margin: 20px 0;
    padding: 10px;
    border-radius: var(--border-radius);
    text-align: center;
}

.cadPaciente-feedback-message.success {
    background-color: var(--success-bg-color);
    color: var(--success-color);
    border: 1px solid var(--success-border-color);
}

.cadPaciente-feedback-message.error {
    background-color: var(--error-bg-color);
    color: var(--error-color);
    border: 1px solid var(--error-border-color);
}

.cadPaciente-error-message {
    color: red; /* Define a cor vermelha */
    text-decoration: underline; /* Sublinha o texto */
    font-size: 12px; /* Define o tamanho da fonte */
    font-family: serif;
}