.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: none;
  border-radius: 5px;
  background: #f9f9f9;
  font-family: serif;
  font-size: 14px;
}

.form-header {
  font-family: serif;
  text-align: center;
  margin-bottom: 20px;
}

.form-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-group {
  font-family: serif;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
  padding: 10px;
  font-family: serif;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  background: #16a086;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.btn:hover {
  background: #147a66;
}

.error{
  color: red;
  font-weight: bold;  

}