.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #16a086;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    border-radius: 50%;
    margin-right: 10px;
}

