.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #343a40;
    color: white;
    overflow-y: auto;
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar.open {
    transform: translateX(0);
    background-color: white;
    color: black;
}

.sidebar.closed {
    transform: translateX(-100%);
}

.sidebar-toggle-button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-logo {
    max-width: 80%;
    width: 150px; /* Ajuste a largura conforme necessário */
    height: auto;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.sidebar li {
    padding: 15px 20px;
    display: flex;
    align-items: center;
}

.sidebar li a {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
}

.sidebar-icon {
    margin-right: 10px;
}

.sidebar-divider {
    border: 1px solid #495057;
}

.sidebar.open .sidebar-divider {
    border-color: #d3d3d3;
}
.sidebar ul li.disabled a {
    color: #d3d3d3; /* Cinza claro */
    pointer-events: none; /* Desabilita cliques */
    cursor: not-allowed; /* Muda o cursor para indicar que está desabilitado */
  }
