/* App.css */
body {
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #16a086;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  margin: 0;
}

.header .user-info {
  display: flex;
  align-items: center;
}

.header .user-info img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.header .user-info span {
  font-size: 18px;
}

.home {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  flex: 1;
}

.sidebar {
  width: 50px; /* Largura quando fechada */
  background-color: #16a086; /* Verde escuro */
  color: #fff;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  transition: width 0.3s ease;
  overflow: hidden;
  z-index: 1000;
}

.sidebar.open {
  width: 250px; /* Largura quando aberta */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  width: 100%;
  
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.sidebar-icon {
  margin-right: 10px;
  font-size: 20px;
}

.sidebar-menu-icon {
  font-size: 20px;
  color: #fff;
}


.sidebar-toggle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
}


.header-logo {
  width: 100px; /* Ajuste o tamanho conforme necessário */
  height: auto;
  margin-right: 20px; /* Adicione um espaçamento entre a logo e as informações do usuário */
}

.sidebar-divider {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 10px 0;
}

.content {
  margin-left: 50px; /* Largura quando sidebar está fechada */
  transition: margin-left 0.3s ease;
  padding: 0px;
  flex: 1;
}

.sidebar.open ~ .content {
  margin-left: 250px; /* Largura quando sidebar está aberta */
}

footer {
  position: relative;
  margin-top:50%;
  width: 100%;
  background-color: #16a086;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
}


button {
  background-color: #16a086;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #009277;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.login-container input {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  width: 300px;
}

.login-container button {
  width: 300px;
  padding: 10px;
  font-size: 16px;
}

@media (max-width: 768px) {
  .content {
    margin-left: 0;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header .user-info {
    margin-top: 10px;
  }

  .sidebar {
    width: 50px;
  }

  .sidebar.open {
    width: 200px;
  }
}
